@model QuestionViewModel

@{
    ViewData["Title"] = "Quiz";
    Layout = "_Layout";
}

<h2>Quiz</h2>

@Model.ShowQuestion() =

@using (Html.BeginForm(null, null, method: FormMethod.Post))
{
    @Html.HiddenFor(m => m.Question.FirstNumber)
    @Html.HiddenFor(m => m.Question.SecondNumber)
    @Html.HiddenFor(m => m.Question.Operation)
    @Html.TextBoxFor(m => m.Answer)

    <div style="margin-top: 10px">
        <button class="btn btn-outline-secondary" type="submit" formaction="@Url.Action("Index", "Quiz")">Next</button>
        <button class="btn btn-primary" type="submit" formaction="@Url.Action("Result", "Quiz")">Finish</button>
    </div>
}